.view-bop {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 6px;
    background: #fff;
}

.view-bop-itemfield {

    width: 100%;
    color: #7b7b7b;
    font-size: 16px;
}

.view-bop-itemfield input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-family: Poppins;
    font-size: 14px;
}

.view-bop-itemfield select {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-family: Poppins;
    font-size: 14px;
}





.view-bop-itemfield div {
    display: flex;
    width: 25%;
}





.view-bop-btn {
    margin-top: 40px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: #6079ff;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

@media(max-width:800px) {
    .view-bop {
        width: auto;
        padding: 30px;
        margin: 20px 20px;
    }
}